.card {
    display: grid;
    grid-template-columns: auto 1fr; /* Первая колонка для изображения, вторая - для текста */
    gap: 20px; /* Расстояние между изображением и текстом */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    &__img {
        
        img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-size: 18px;
        color: #333333;
        margin: 0;
    }
}
